@font-face {
  src: url(../fonts/helvetica-neue-lt-geo-65.woff2);
  font-family: font-medium;
}
@font-face {
  src: url(../fonts/helvetica-neue-lt-geo-75-bold.woff2);
  font-family: font-bold;
}
@font-face {
  src: url(../fonts/helvetica-neue-lt-geo-55-roman.7701a8d8.woff2);
  font-family: font-roman;
}

body{
  background-color: #f1f3f6;
}

header{
  background: white;
}
.search-component{
  max-width: 300px;
  padding:4px; 
  border-radius: 32px;
  height: 48px;
  background-color: #fec900;
  @media (min-width: 768px){
    max-width: 400px;
    height: 64px;
  }
  @media (min-width: 992px){
    max-width: 732px;
  }
  &__main-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding-left: 8px;
    padding-right: 8px;
    @media (min-width: 768px){
      padding-left: 22px;
      padding-right: 13px;
    }
    &__svg{
      background: url(https://www.mymarket.ge/react/build/static/media/logo.03303ab3.svg);
      width: 36px;
      height: 20px;
      background-repeat: no-repeat;
      background-size: contain;
      @media (min-width: 768px){
        width: 42px;
      }
    }
  }
  &__form{
    &__input{
      font-size:12px;
      border-radius: 28px;
      padding: 14px 16px;
      outline: none;
      font-size: 12px;
      font-family: font-medium; 
    }
    &__img-upload{
      background-image: url(https://www.mymarket.ge/react/build/static/media/search-opload.1c862db6.svg);
      position: absolute;
      position: absolute;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      border-radius: 50%;
      width: 32px;
      height: 32px;
      right: 37px;
      top: 50%;
      -webkit-transform: translate3d(0, -50%, 0);
      transform: translate3d(0, -50%, 0);
      transition: .2s ease-in-out;
      cursor: pointer;
      &:hover{
        background-color: #f1f3f6;
      }
    }
    @media (min-width: 768px){
      &__img-upload{
        right: 57px;
      }
      &__img-upload::before{
        content: "";
        position: absolute;
        right: -10px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        width: 1px;
        height: 24px;
        border-radius: 2px;
        background-color: rgba(137,150,174,.25);
      }
    }
    &__button {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      width: 32px;
      height: 32px;
      right: 4px;
      top: 50%;
      -webkit-transform: translate3d(0,-50%,0);
      transform: translate3d(0,-50%,0);
      background-color: transparent;
      transition: .2s ease-in-out;
      border: unset;
      &:hover{
        background-color: #f1f3f6;
      }
      @media (min-width: 768px){
        &__button{
          right: 12px;
        }
      }
      &__svg-icon{
        background-image: url(https://www.mymarket.ge/react/build/static/media/search.1bf61568.svg);
        display: flex;
        width: 14px;
        height: 14px;
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: contain;
        
      }
    }
  }
}
.header-navigation{
  position: relative;
  &__add-product{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    border: 2px solid #f1f3f6;
    height: 40px;
    padding: 0 16px 0 12px;
    max-width: 116px;
    line-height: 17px;
    background: white;
    &:hover{
      border-color: #fec900;
    }
    &__svg{
      display: flex;
      margin-right: 8px;
      width: 16px;
      height: 16px;
      background-position: 50%;
      background-repeat: no-repeat;
      background-size: contain;
      background-image: url(https://www.mymarket.ge/react/build/static/media/add-statement.af6a67fc.svg);
    }
    &__span{
      font-size: 12px;
      font-family: font-bold;
    }
  }
  &__li{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    &:hover+.header-navigation__pop-up-ul{
      display: flex;
      flex-direction: column;
    }
    &:hover{
      background-color: #f1f3f6;
    }
    &__a{
      &__svg{
        display: flex;
        width: 16px;
        height: 16px;
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: contain;
      }
      &__svg-messages{
        background-image: url(https://www.mymarket.ge/react/build/static/media/message.17bb7539.svg);
      }
      &__svg-favorites{
        background-image: url(https://www.mymarket.ge/react/build/static/media/favorites.d982e597.svg);
      }
      &__svg-cart{
        background-image: url(https://www.mymarket.ge/react/build/static/media/cart.2300ae5e.svg);
      }
      &__svg-dropdown{
        background-image: url(https://www.mymarket.ge/react/build/static/media/menu.bcfa07ff.svg);
      }
    }
  }

  &__authorization{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 20px;
    border: 2px solid #f1f3f6;
    height: 40px;
    padding: 0 16px 0 12px;
    // max-width: 116px;
    line-height: 17px;
    background: white;
    &:hover{
      border-color: #fec900;
    }
    &__svg{
      display: flex;
      margin-right: 8px;
      width: 16px;
      height: 16px;
      background-position: 50%;
      background-repeat: no-repeat;
      background-size: contain;
      background-image: url(https://www.mymarket.ge/react/build/static/media/auth.bcbe3035.svg);
    }
    &__span{
      font-size: 12px;
      font-family: font-bold;
    }
  }
  &__pop-up-ul{
    display: none;
    min-width: 140px; 
    padding-top: 24px; 
    padding-bottom: 24px; 
    background: white; 
    position: absolute; 
    top: 102px;
    z-index: 2; 
    right: 0;
    border-radius: 16px;
    border: 1px solid black;
    &__li{
      padding-left: 24px;
      padding-right: 24px;
      padding-top: 8px;
      padding-bottom: 8px;
      &:hover{
        background-color: #f1f3f6;
      }
      &__a{
        font-size: 14px;
        font-family: font-medium;
        color: #272a37;
        text-decoration: unset;
      }
    }
  }
}
.divide-line{
  width: 1px;
  height: 12px;
  border-radius: 2px;
  background-color: rgba(137,150,174,.2);
  margin-right: 20px;
  margin-left: 24px;
}
span.header-divide-line-second{
    margin-right: 0;
    margin-left: 12px;
}
.header-subcircuits{
  border-top: 2px solid #f1f3f6;
  padding-top: 10px;
  padding-bottom: 10px;
  background: white;
  &__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__box{
      display: flex;
      align-items: center;
      &__p{
        color: #454b57;
        font-size: 12px;
        font-family: font-medium;
        text-transform: uppercase;
        font-feature-settings: "case" on;
      }
      &__img{
        width:14px;
        height: 14px;
        margin-right: 8px;
      }
    }
    &__button{
      background-color: #ffe9e8;
      border-radius: 32px;
      padding:12px;
      font-family: font-medium;
      &:hover{
        background-color: rgba(223,166,166,.8);
      }
      &__svg{
        background-image: url(https://www.mymarket.ge/react/build/static/media/Sale-cats.43450326.svg);
        display: flex;
        width: 14px;
        height: 14px;
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: contain;
        margin-right: 4px;
      }
      &__span{
        color: #ff3b30;
        line-height: 12px;
        font-size: 12px;
        font-family: font-medium;
        font-feature-settings: "case" on;
      }
    }
  }
}
.main-content{
  margin-top: 16px;
  @media (min-width: 768px){
    margin-top:24px;
  }
  .category-filters{
    width: 300px;
    background-color: white;
    padding: 30px 0 12px;
    border-radius: 16px;
    margin-right: 24px;
    &__ul{
      width: 100%;
      &__li{
        display: flex;
        align-items: center;
        justify-content: start;
        margin-bottom: 14px;
        margin-left: 20px;
        &:hover .category-filters__ul__li__a__title{
          text-decoration: underline;
          color: #325afa;
        }
        &__a{
          display: flex;
          text-decoration: unset;
          color: #454b57;
          font-size: 14px;
          line-height: 16px;
          &__box{
            display: flex;
            align-items: center;
            margin-right: 10px;
          }
          &__title{
            line-height: 16px;
            font-size: 14px;
            cursor: pointer;
            color: #454b57;
            font-family: font-medium;
          }
        }
      }
    }
    &__pop-up{
      background: white;
      position: absolute;
      z-index: 2;
      width: calc(100% - 300px); right: 0;   
      height: 100%;  top: 0; 
      border-top-right-radius: 16px; 
      border-bottom-right-radius: 16px; 
      padding-top: 30px; 
      border-left-color: #f2f4f7; 
      border-left-width: 3px; 
      border-left-style: solid;
      display: none;
      &:hover{
        display: flex;
      }
      &__relative{
        position: relative; 
        height: 100%; 
        position: relative; 
        display: flex; 
        flex-direction: column; 
        flex-wrap: wrap;
        &__ul{
          flex-wrap: wrap;
          max-width: 480px;
          width: auto;
          align-items: flex-start;
          flex-direction: column;
          &__li{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: start;
            -ms-flex-pack: start;
            justify-content: start;
            margin-bottom: 14px;
            margin-left: 20px;
            &__a{
              line-height: 16px;
              font-size: 14px;
              cursor: pointer;
              color: #454b57;
              font-family: font-medium;
              text-decoration: unset;
              &:hover{
                text-decoration: underline;
                color: #325afa;
              }
            }
          }
        }
      }
    }
  }
}
.search-more{
  margin-top: 40px;
  margin-bottom: 24px;
  @media (min-width: 768px){
    margin-top: 60px;
    margin-bottom: 56px;
  }
  &__slider{
    padding: 0;
    margin-bottom: 28px;
    @media (min-width: 768px){
      margin-bottom: 0px;
    }
    &__box{
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      @media (min-width: 768px){
      padding-right: 0px;
      padding-left: 0px;
      }
      &__title-box{
        display: flex;
        align-items: flex-start;
        width: -webkit-fill-available;
        @media (min-width: 992px){
          margin-bottom: 28px;
        }
        @media (min-width: 768px){
          align-items: center;
        }
        &__component{
          display: flex;
          width: calc(100% - 90px);
          margin-right: 10px;
          flex-direction: column;
          @media (min-width: 992px){
            flex-direction: row;
          }
          &__p{
            display: flex;
            align-items: center;
            white-space: nowrap;
            margin-right: 16px;
            font-family: font-bold;
            font-size: 18px;
          }
          &__swiper{
            margin-top: 30px;
            @media (min-width: 992px){
              margin-top: 0px;
            }
            &__wrapper{
              &__slide{
                border-radius: 16px;
                max-width: 117px;
                &__button{
                  border-radius: 20px;
                  background-color: white;
                  -webkit-transition: .1s ease-in-out;
                  transition: .1s ease-in-out;
                  padding-top: 7px;
                  padding-bottom: 7px;
                  padding-right: 12px;
                  padding-left: 12px;
                  font-size: 12px;
                  font-family: font-bold;
                  text-decoration: unset;
                  color: #212529;
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;              
                  cursor: pointer;
                }
              }
            }
          }
        }
      }
      &__button-next{
        position: unset;
        background: white;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        background-image: url(https://www.mymarket.ge/react/build/static/media/slider-right.f78d9890.svg);
        width: 32px;
        height: 32px;
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: contain;
        background-size: auto;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;    
        @media (min-width: 992px){
          width: 42px;
          height: 42px;
        }
        &::after{
          content: "";
        }
      }
      &__button-prev{
        position: unset;
        background: white;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        background-image: url(https://www.mymarket.ge/react/build/static/media/slider-left.90b7afc8.svg);
        width: 32px;
        height: 32px;
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: contain;
        background-size: auto;
        margin-right: 6px;
        @media (min-width: 992px){
          width: 42px;
          height: 42px;
        }
        &::after{
          content: "";
        } 
      }
    }
  }
  &__title-box{
    display: flex;
    align-items: center;
    margin-bottom: 28px;
    &__button{
      border-radius: 20px;
      background-color: white;
      transition: .1s ease-in-out;
      padding-top: 7px;
      padding-bottom: 7px;
      margin-right: 8px;
      padding-right: 12px;
      padding-left: 12px;
      font-size: 12px;
      font-family: font-bold;
      text-decoration: unset;
      color: #212529;
      cursor: pointer;
    }
    &__p{
      margin-right: 16px;
      font-size:18px;
      font-family: font-bold;
    }
  }
  &__card{
    width: 410px;
    border-radius: 16px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    height: 80px;
    padding: 20px;
    margin-right: 20px;
    &__collapse{
      width: 100%;
      &__body{
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: start;
        font-size: 14px;
        font-family: font-medium;
        color: #454b57;
        &__button{
          display: flex;
          align-items: center;
          justify-content: space-between;
          &__icon{
            color:red;
            &__svg{
              background-image: url(https://www.mymarket.ge/react/build/static/media/sl-seacrh.3ba59344.svg);
              width: 40px;
              height: 40px;
              display: flex;
              background-position: 50%;
              background-repeat: no-repeat;
              background-size: contain;
              &:hover{
                transform: scale(1.1);
                transition: .2s ease-in-out;
              }
            }
          }
        }
      }
    }
  }
}
.home-page-banner{
  width: 100%;
  text-align: center;
  border-radius: 16px;
  background-color: #e4e7ed;
  @media (min-width: 768px){
    background: none;
  }
  &__img{
    border-radius: 16px;
    max-width: 100%;
    width: 100%;
    max-height: 128px; 
    width: auto;
    @media (min-width: 768px){
      max-height: unset;
      width: 100%;
    }
  }
}
.main-banners{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 16px;
  width:100%;
  @media (min-width: 992px){
    width: calc(100% - 324px);    
  }
  @media (min-width: 768px){
    background-color: white;
    padding:40px;
  }
  &__swiper{
    height: auto;
    border-radius: 16px;
    height: 180px!important;
    @media (min-width: 768px){
      height: 300px!important;
    }
    &__wrapper{
      height: 100%;
      &__slide{
        border-radius: 16px;
        overflow: hidden;
        &__img{
          object-fit: cover, contain!important;
          border-radius: 16px;
        }
      }
    }
    &__button-next{
      background-image: url(https://www.mymarket.ge/react/build/static/media/slider-right.f78d9890.svg);
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%!important;
      background-color: #fff;
      position: absolute;
      top: 50%;
      z-index: 50;
      transform: translateY(-50%);
      right: 32px;
      background-position: 50%;
      background-repeat: no-repeat;
      background-size: auto;
      &::after{
        content: "";
      }

    }
    &__button-prev{
      background-image: url(https://www.mymarket.ge/react/build/static/media/slider-left.90b7afc8.svg);
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%!important;
      background-color: #fff;
      position: absolute;
      top: 50%;
      z-index: 50;
      transform: translateY(-50%);
      left: 32px;
      background-position: 50%;
      background-repeat: no-repeat;
      background-size: auto;
      &::after{
        content: "";
      }

    }
  }
  &__ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 14px;
    margin-top:14px;
    @media (min-width: 768px){
      padding: 40px;
      background-color: #f2f4f7;
    }
    &__swiper{
      &__wrapper{
        &__slide{
          border-radius: 8px;    
          &:hover{
            background-color: #e6e6e6;
          }      
          &__li{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            border-radius:16px;
            padding: 16px;
            &:hover{
              background-color: #e6e6e6;
            }
            
            &__img{
              height: 40px!important;
              width: 40px!important;
            }
            &__p{
              color: #272a37;
              margin-top:10px;
              font-size:12px;
              font-family: font-medium;
              font-feature-settings: "case" on;
      
            }
          }
        }
      }
    }
  }
}
.section-banner{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  background-color: white;
  margin-top: 56px;
  border-radius: 16px;
  padding-left: 24px;
  padding-right: 24px;
  margin-bottom: 56px;
  height: -webkit-fill-available;
  @media (min-width: 992px){
    flex-direction: row;
  }
  &__column-one{
    &__box{
      width: 100%;
      &__img{
        height: 150px;
        object-fit: contain;
        @media (min-width: 768px){
          height: 320px;
        }
      }
    }
  }
  &__column-two{
    display: flex;
    height: 100%;
    align-items: center;
    @media (min-width: 768px){
      padding-left: 88px;
      padding-right: 80px;
    }
    padding-top: 25px;
    // padding-bottom: 40px;
    @media (min-width: 768px){
      padding-top: unset;
      padding-bottom: unset;
    }
    &__box{
      padding-bottom: 41px;
      @media (min-width: 992px){
        padding-bottom: 17px;
      }
      &__h2{
        font-size: 24px;
        font-family: font-bold;
      }
      &__p{
        color: #8996ae;
        font-size: 16px;
        font-family: font-roman;
        margin-top: 24px;
        margin-bottom: 36px;
        line-height: 1.5;
      }
      &__a{
        background-image: linear-gradient(#fec900,#fec900);
        border-radius: 8px;
        font-feature-settings: "case" on;
        font-size: 13px;
        line-height: 16px;
        padding-left: 40px;
        padding-top: 17px;
        padding-bottom: 17px;
        padding-right: 40px;
        font-family: font-bold;
        color: white;
        cursor: pointer;
        text-decoration: unset;
        &:hover{
          color:white
        }
      }
    }
  }
}
.vip-content{
  background-color: white;
  overflow: hidden;
  width: 100%;
  border-radius: 16px;
  margin-bottom: 24px;
  padding: 24px 12px;
  @media (min-width: 768px){
    padding: 40px 32px;
    margin-bottom: 56px;
  }
  &__title{
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    &__s-vip{
      background-color: #fec900;
      border-radius: 12px;
      padding: 6px 7px;
      margin-right: 10px;
      &__text{
        font-size: 10px;
        font-family: font-bold;
        color: white;
      }
    }
    &__p{
      color: #272a37;
      font-size: 16px;
      font-family: font-bold;
      margin-right: 10px;
    }
    &__all-products{
      font-family: font-medium;
      color: #4a6cfa;
      font-size: 13px;
      text-decoration: underline;   
    }
  }
  &__slider{
    &__swiper{
      overflow: hidden;
      &__wrapper{
        &__slide{
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          &:hover &__title-box__title-box__title{
            color: #0a58ca;
            text-decoration: underline;
          }
          &__img-box{
            border-radius: 10px;
            height: 130px;
            &__img{
              border-radius: 10px;
            }
          }
          &__title-box{
            width: 100%;
            justify-content: flex-start;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-top: 18px;
            &__title{
              color: #272a37;
              font-size: 14px;
              margin-bottom: 10px;
              display: -webkit-box;
              -webkit-line-clamp: 1;
              -webkit-box-orient: vertical;
              overflow: hidden;
              text-align: start;
              font-family: font-medium;
              text-decoration: none;
              &:hover{
                color: #325afa;
                text-decoration: underline;
              }
            }
            &__price{
              line-height: 21px;
              font-size: 12px;
              font-family: font-bold;
              color: #8996ae;
              display: -webkit-box;
              -webkit-line-clamp: 1;
              -webkit-box-orient: vertical;
              overflow: hidden;
              text-align: left;
            }
          }
        }
      }
    }
  }
}
.category{
  &__slider{
    margin-bottom: 40px;
    @media (min-width: 768px){
      margin-bottom: 100px;
    }
    &__swiper{
      &__wrapper{
        justify-content: space-between;
        &__slide{
          display: flex;
          flex-direction: column;
          align-items: center;
          background-color: unset!important;
          text-decoration: unset;
          &:hover > &__box {
            background: #fec900;
          }
          &__box{
            display: flex;
            align-items: center;
            justify-content: center;
            background: white;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            &__img{
            }

          }
          &__title{
            color: #272a37;
            font-size: 13px;
            font-family: font-bold;
            text-transform: uppercase;
            margin-top: 16px;
            text-decoration: unset;
            line-height: 14px;
          }
        }
      }
    }
  }
}
.recomended{
  &__slider{
    margin-bottom: 40px;
    padding: 0;
    padding-left: 16px;
    @media (min-width: 768px){
      padding-right: 16px;
      padding-left: 16px;
    }
    @media (min-width: 992px){
      margin-bottom: 60px;
    }
    &__box{
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      @media (min-width: 768px){
      padding-right: 0px;
      padding-left: 0px;
      }
      &__title-box{
        display: flex;
        align-items: flex-start;
        width: -webkit-fill-available;
        @media (min-width: 992px){
          margin-bottom: 8px;
        }
        @media (min-width: 768px){
          align-items: center;
        }
        &__component{
          display: flex;
          width: calc(100% - 90px);
          margin-right: 10px;
          flex-direction: column;
          @media (min-width: 992px){
            flex-direction: row;
          }
          &__p{
            display: flex;
            align-items: center;
            white-space: nowrap;
            margin-right: 16px;
            font-family: font-bold;
          }
          &__swiper{
            margin-top: 30px;
            @media (min-width: 992px){
              margin-top: 0px;
            }
            &__wrapper{
              &__slide{
                border-radius: 16px;
                &__button{
                  border-radius: 20px;
                  background-color: white;
                  -webkit-transition: .1s ease-in-out;
                  transition: .1s ease-in-out;
                  padding-top: 7px;
                  padding-bottom: 7px;
                  margin-right: 8px;
                  padding-right: 12px;
                  padding-left: 12px;
                  font-size: 12px;
                  font-family: font-bold;
                  text-decoration: unset;
                  color: #212529;
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;              
                  cursor: pointer;
                }
              }
            }
          }
        }
      }
      &__button-next{
        position: unset;
        background: white;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        background-image: url(https://www.mymarket.ge/react/build/static/media/slider-right.f78d9890.svg);
        width: 32px;
        height: 32px;
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: contain;
        background-size: auto;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;    
        @media (min-width: 992px){
          width: 42px;
          height: 42px;
        }
        &::after{
          content: "";
        }
      }
      &__button-prev{
        position: unset;
        background: white;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        background-image: url(https://www.mymarket.ge/react/build/static/media/slider-left.90b7afc8.svg);
        width: 32px;
        height: 32px;
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: contain;
        background-size: auto;
        margin-right: 6px;
        @media (min-width: 992px){
          width: 42px;
          height: 42px;
        }
        &::after{
          content: "";
        }
      }
    }
    &__swiper{
      &__wrapper{
        justify-content: space-between;
        &__slide{
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          background-color: unset!important;
          text-decoration: unset;
          &:hover > &__box {
            background: #fec900;
          }
          &__box{
            display: flex;
            align-items: center;
            justify-content: center;
            background: white;
            width: 100%;
            height: 120px;
            border-radius: 12px;
            @media (min-width: 768px){
              height: 210px;
            }
            &__img{
              border-radius: 12px;
            }

          }
          &__title{
            color: #272a37;
            font-size: 13px;
            font-family: font-bold;
            text-transform: uppercase;
            margin-top: 16px;
            text-decoration: unset;
            line-height: 14px;
          }
          &__price{
            color: #8996ae;
            font-size: 12px;
            font-family: font-bold;
            text-transform: uppercase;
            margin-top: 4px;
            text-decoration: unset;
            line-height: 14px;
            @media (min-width: 768px){
              margin-top: 10px;
            }
          }
        }
      }
    }
  }
}
.oriented-prod{
  &__slider{
    margin-bottom: 40px;
    padding: 0;
    padding-left: 16px;
    @media (min-width: 768px){
      padding-right: 16px;
      padding-left: 16px;
    }
    @media (min-width: 992px){
      margin-bottom: 34px;
    }
    &__box{
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      @media (min-width: 768px){
      padding-right: 0px;
      padding-left: 0px;
      }
      &__title-box{
        display: flex;
        align-items: flex-start;
        width: -webkit-fill-available;
        @media (min-width: 992px){
          margin-bottom: 8px;
        }
        @media (min-width: 768px){
          align-items: center;
        }
        &__component{
          display: flex;
          width: calc(100% - 90px);
          margin-right: 10px;
          flex-direction: column;
          @media (min-width: 992px){
            flex-direction: row;
          }
          &__p{
            display: flex;
            align-items: center;
            white-space: nowrap;
            margin-right: 16px;
            font-family: font-bold;
            font-size: 18px;
          }
          &__swiper{
            margin-top: 30px;
            @media (min-width: 992px){
              margin-top: 0px;
            }
            &__wrapper{
              &__slide{
                border-radius: 16px;
                &__button{
                  border-radius: 20px;
                  background-color: white;
                  -webkit-transition: .1s ease-in-out;
                  transition: .1s ease-in-out;
                  padding-top: 7px;
                  padding-bottom: 7px;
                  margin-right: 8px;
                  padding-right: 12px;
                  padding-left: 12px;
                  font-size: 12px;
                  font-family: font-bold;
                  text-decoration: unset;
                  color: #212529;
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;              
                  cursor: pointer;
                }
              }
            }
          }
        }
      }
      &__button-next{
        position: unset;
        background: white;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        background-image: url(https://www.mymarket.ge/react/build/static/media/slider-right.f78d9890.svg);
        width: 32px;
        height: 32px;
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: contain;
        background-size: auto;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;    
        @media (min-width: 992px){
          width: 42px;
          height: 42px;
        }
        &::after{
          content: "";
        }
      }
      &__button-prev{
        position: unset;
        background: white;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        background-image: url(https://www.mymarket.ge/react/build/static/media/slider-left.90b7afc8.svg);
        width: 32px;
        height: 32px;
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: contain;
        background-size: auto;
        margin-right: 6px;
        @media (min-width: 992px){
          width: 42px;
          height: 42px;
        }
        &::after{
          content: "";
        }
        
      }

    }
  }


  &__grid-slider{
    display: flex;
    align-items: center;
    margin-bottom: 48px;
    flex-direction: column;
    @media (min-width: 992px){
      flex-direction: row;
      margin-bottom: 64px;
    }
    &__pre{
      position: relative;
      border-radius: 16px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 12px;
      @media (min-width: 992px){
        width: auto;
        margin-right: 24px;
        margin-bottom: unset;
      }
      &__img{
        border-radius: 16px;
        // max-height: 335px;
        width: 100%;
        @media (min-width: 992px){
          max-height: auto;
          width: auto;
        }
      }
      &__text{
        position: absolute;
        top: 16px;
        text-transform: uppercase;
        font-feature-settings: "case" on;
        font-size: 21px;
        font-family: font-bold;
        color: white;
        text-align: center;
        @media (min-width: 992px){
          font-size: 38px;
        }
      }
    }
    &__swiper{

      @media (min-width: 992px){
        max-height: 404px;
        display: flex;

      }
      &__wrapper{
        // display: flex;
        // flex-direction: column;
        // @media (min-width: 992px){
        //   flex-direction: row;
        // }
        height: auto;
        @media(min-width: 992px){
          height: inherit;
        }
        &__slide{
          display: flex;
          justify-content: flex-start!important;
          padding: 13px 26px 13px 13px;
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          overflow: hidden;
          border-radius: 16px;
          height: 120px;
          @media (min-width: 992px){
            height: calc((100% - 30px) / 2)!important;
          }
          &__img{
            max-height: 80px;
            max-width: 80px;
            margin-right: 38px;
            border-radius: 12px;
            @media (min-width: 992px){
              max-height: 160px;
              max-width: 160px;
            }
          }
          &__box{
            height: 100%;
            width: 100%;
            text-align: left;
            &__title{
              color: #272a37;
              font-size: 14px;
              font-family: font-medium;
              margin-bottom: 10px;
              display: -webkit-box;
              -webkit-line-clamp: 1;
              -webkit-box-orient: vertical;
              overflow: hidden;
              line-height: 21px;
              @media (min-width: 992px){
                -webkit-line-clamp: 3;
              }
            }
            &__price{
              color: #454b57;
              font-family: font-bold;
              line-height: 21px;
              font-size: 18px;

            }
            &__see-all{
              text-transform: uppercase;
              font-feature-settings: "case" on;
              font-size: 18px;
              font-family: font-medium;
              color: #272a37;
            }
            &__see-all-p{
              color: #4a6cfa!important;
              margin-top: 18px;
              font-size: 13px;
              font-family: font-medium;

            }
          }
        }
      }
    }
  }
}
.merchants{
  &__title{
    margin-bottom: 24px;
    &__box{
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: 32px;
      @media (min-width: 992px){
        height: 42px;
      }
      &__shops{
        color: #272a37;
        font-size: 18px;
        font-family: font-bold;
      }
      &__merchants{
        white-space: nowrap;
        color: #4a6cfa!important;
        font-size: 13px;
        font-family: font-medium;
        text-decoration: underline;
      }

      &__dot{
        content: "";
        display: flex;
        align-items: center;
        justify-content: center;
        width: 4px;
        height: 4px;
        margin-right: 6px;
        margin-left: 10px;
        border-radius: 50%;
        background-color: #8996ae;
      }
    }

    &__button-prev{
      position: unset;
      background: white;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      background-image: url(https://www.mymarket.ge/react/build/static/media/slider-left.90b7afc8.svg);
      width: 32px;
      height: 32px;
      background-position: 50%;
      background-repeat: no-repeat;
      background-size: contain;
      background-size: auto;
      margin-right: 6px;
      @media (min-width: 992px){
        width: 42px;
        height: 42px;
      }
      &::after{
        content: "";
      }
    }
    &__button-next{
      position: unset;
      background: white;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      background-image: url(https://www.mymarket.ge/react/build/static/media/slider-right.f78d9890.svg);
      width: 32px;
      height: 32px;
      background-position: 50%;
      background-repeat: no-repeat;
      background-size: contain;
      background-size: auto;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      @media (min-width: 992px){
        width: 42px;
        height: 42px;
      }
      &::after{
        content: "";
      }
    }
  }
  &__slider{
    margin-bottom: 40px;
    @media (min-width: 768px){
      margin-bottom: 100px;
    }
    &__swiper{
      &__wrapper{
        justify-content: space-between;
        &__slide{
          display: flex;
          flex-direction: column;
          align-items: center;
          background-color: unset!important;
          text-decoration: unset;
     
          &__box{
            display: flex;
            align-items: center;
            justify-content: center;
            // background: white;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            transition: .5s ease-in-out;
            @media (min-width: 768px){
              width: 118px;
              height: 118px;
            }
            &:hover{
              transform: scale(0.9);
              transition: transform .5s;
              border: 1px solid #8996ae;
              padding: 4px;
            }
            
            &__img{
              border-radius: 50%;
              background-size: contain!important;
          
            }

          }
          &__title{
            color: #8996ae;
            font-size: 13px;
            font-family: font-bold;
            text-transform: uppercase;
            margin-top: 16px;
            text-decoration: unset;
            line-height: 14px;
          }
        }
      }
    }
  }
}
.sales{ 
  &__box{
    margin-bottom: 80px;
    @media (min-width: 992px){
      margin-bottom: 104px;
    }
    &__title{
      margin-bottom: 24px;
      &__p{
        color: #272a37;
        font-size: 18px;
        font-family: font-bold;
      }
    }
    &__slider{
      &__swiper{
        &__wrapper{
          &__slide{
            border-radius: 16px;
            padding: 12px;
            background-color: white;
            @media (min-width: 992px){
              padding: 0 12px;
            }
            &__main-box{
              &__div{
                &__price{
                  color: black;
                  font-family: font-bold;
                  font-size: 12px;
                  line-height: 21px;
                  text-decoration: line-through;
                  @media (min-width: 992px){
                    display: none;
                  }
                }
                &__sale-price{
                  color: #0ec604;
                  font-family: font-bold;
                  font-size: 16px;
                  line-height: 21px;
                  @media (min-width: 992px){
                    display: none;
                  }
                }
                &__parent{
                  margin: 20px 12px;
                  position: relative;
                  &:hover > &__card{
                    opacity: 1;
                    transition: .3s ease-in-out;
                    bottom:0;
                    height: 100%;
                    padding: 10px;
                    // max-height: 139px;
                    // max-width: 177px;
                    // -webkit-transform: translate(0, -10px);
                    // transform: translate(10px, -10px);
                  }
                  &__div{
                    border: 1px solid #f4f4f4;
                    border-radius: 10px;
                    &__img{
                    }
                  }
                  &__card{
                    position: absolute;
                    background-color: rgba(39,42,55,.95);
                    border-radius: 10px;
                    width: 100%;
                    height: 0%;
                    bottom: 0;
                    left: 0;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    opacity: 0;                
                    &__price{
                      color: white;
                      font-family: font-bold;
                      font-size: 12px;
                      line-height: 21px;
                      text-decoration: line-through;
  
                    }
                    &__sale-price{
                      color: #0ec604;
                      font-family: font-bold;
                      font-size: 16px;
                      line-height: 21px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
.service{
  margin-bottom: 64px;
  @media (min-width: 992px){
    margin-bottom: 104px;
  }
  &__title{
    margin-bottom: 24px;
    &__box{
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: 32px;
      @media (min-width: 992px){
        height: 42px;
      }
      &__shops{
        color: #272a37;
        font-size: 18px;
        font-family: font-bold;
      }
      &__merchants{
        white-space: nowrap;
        color: #4a6cfa!important;
        font-size: 13px;
        font-family: font-medium;
        text-decoration: underline;
      }

      &__dot{
        content: "";
        display: flex;
        align-items: center;
        justify-content: center;
        width: 4px;
        height: 4px;
        margin-right: 6px;
        margin-left: 10px;
        border-radius: 50%;
        background-color: #8996ae;
      }
    }

    &__button-prev{
      position: unset;
      background: white;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      background-image: url(https://www.mymarket.ge/react/build/static/media/slider-left.90b7afc8.svg);
      width: 32px;
      height: 32px;
      background-position: 50%;
      background-repeat: no-repeat;
      background-size: contain;
      background-size: auto;
      margin-right: 6px;
      @media (min-width: 992px){
        width: 42px;
        height: 42px;
      }
      &::after{
        content: "";
      }
    }
    &__button-next{
      position: unset;
      background: white;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      background-image: url(https://www.mymarket.ge/react/build/static/media/slider-right.f78d9890.svg);
      width: 32px;
      height: 32px;
      background-position: 50%;
      background-repeat: no-repeat;
      background-size: contain;
      background-size: auto;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      @media (min-width: 992px){
        width: 42px;
        height: 42px;
      }
      &::after{
        content: "";
      }
    }
  }
  &__slider{
    &__swiper{
      &__wrapper{
        height: 294px;
        &__slide{
          padding: 16px;
          border-radius: 16px;
          height: calc((100% - 30px) / 2);
          text-decoration: none;
          &__sec-one{
            height: 96px;
            width: 114px;
            border-radius: 16px;
            &__img{
              border-radius: 16px;
            }
          }
          &__sec-two{
            text-align: left;
            margin-left: 16px;
            &__search-key{
              font-family: font-roman;
              font-size: 12px;
              line-height: 18px;
              color: #272a37;
              text-transform: uppercase;
              font-feature-settings: "case" on;
              margin-bottom: 8px;
              opacity: .5;

            }
            &__search-text{
              display: -webkit-box;
              -webkit-line-clamp: 1;
              -webkit-box-orient: vertical;
              overflow: hidden;
              font-family: font-medium;
              line-height: 18px;
              color: #272a37;
              font-size: 14px;
              margin-bottom: 20px;

            }
            &__price{
              font-size: 12px;
              line-height: 21px;
              font-family: font-bold;
              color: #8996ae;
            }
          }
        }
      }
    }
  }
}
.how-to-buy{
  background-color: white;
  text-align: center;
  padding-top: 64px;
  padding-bottom: 84px;
  &__cont{
    &__title{
      &__img{
      }
      &__text{
        color: #272a37;
        font-size: 18px;
        line-height: 21px;
        font-family: font-bold;
        margin-top: 16px;
        margin-bottom: 56px;
      }
    }
    &__box{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      @media (min-width: 768px){
        flex-direction: row;
        align-items: flex-start;
      }
      &__div{
        max-width: 192px;
        overflow: hidden;
        position: relative;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 32px;
        @media (min-width: 768px){
          margin-bottom: 0;
        }
        &__img{
          position: relative;
          width: 56px;
          height: 56px;
          &::after{
            content: "";
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background-image: radial-gradient(circle at 50% 50%,rgba(251,207,63,.1),rgba(251,207,63,.2),rgba(251,207,63,.3),rgba(251,207,63,.4),rgba(251,207,63,.6));
            animation-name: animate;
            animation-duration: 3s;
            animation-iteration-count: infinite;
            left: 0;
            z-index: 9;
            opacity: 0;
            position: absolute;
            animation-delay: 1s;
          }
        }
        &__p{
          color: #272a37!important;
          font-family: font-medium;
          font-size: 13px;
          line-height: 21px;
          margin-top: 26px;
  
        }
      }
     
      &__animation{
        border-radius: 50%;
        animation-name: animate;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        opacity: 0;
        margin-top: 20px;
        display: none;
        @media (min-width: 768px){
          display: block;
        }
        &.deley-1 {
          animation-delay: 1s;
        }
        &.deley-2 {
          animation-delay: 2s;
        }
        &.deley-3 {
          animation-delay: 3s;
        }
    
      @keyframes animate {
        0% {
          transform: scale(0);
          opacity: 1;
        }
        50% {
          transform: scale(1);
          opacity: 1;
        }
        100% {
          opacity: 0;
        }
      }
    }
    }
  }
}


.up-button{
  background-color: #fec900!important;
  width: 100%;
  &__box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 15px;
    cursor: pointer;
    &__img{
      width: 14px;
      height: 14px;
    }
  }
}
.footer{
  padding-top: 40px;
  border-bottom: 1px solid rgba(0,0,0,.1);
  padding-bottom: 40px;
  background-color: white;
  &__box{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    &__main{
      margin-bottom: 20px;
      &__title{
        color: #272a37;
        font-size: 12px;
        font-family: font-bold;
        margin-bottom: 0.5rem;
      }
      &__ul{
        &__li{
          line-height: 1.5;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          &__a{
            font-size: 12px;
            color: #8996ae;
            font-family: font-medium;
            text-decoration: none;
            &:hover{
              color: #325afa;
              text-decoration: underline;
            }

          }
        }
      }
    }
    &__main{
        &__social{
          &__title{
            color: #272a37;
            font-size: 12px;
            font-family: font-bold;
            margin-bottom: 0.5rem;
          }
       
          &__media{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin-bottom: 20px;
            &__title{

            }
            &__icon{
              display: flex;
              align-items: center;
              justify-content: center;
              background-color: #f1f3f6;
              border-radius: 50%;
              height: 34px;
              width: 34px;
              margin-right: 10px;
              &:hover{
                background-color: #d2d8e2;
              }
              &__svg{

              }
            }
            &__icon-languages{
              height: 44px;
              width: 44px;
            }

            &__icon-app{
              display: flex;
              align-items: center;
              justify-content: center;
              &__img{
                max-width: 84px;
                height: 28px;
                margin-right: 13px;
              }
            }
          }
        }
    }
  }

  &__sec{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    &__box{
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 18px;
      border: none;
      &:nth-child(2):hover {
        border: 2px solid #ff8600;
        background-color: #ff8600;
      }
      &:nth-child(3):hover {
        border: 2px solid #0d828f;
        background-color: #0d828f;
      }
      &:nth-child(4):hover {
        border: 2px solid #29b24e;
        background-color: #29b24e;
      }
      &:nth-child(6):hover {
        border: 2px solid #10bbe8;
        background-color: #10bbe8;
      }
      &:nth-child(5):hover {
        border: 2px solid #bb44a3;
        background-color: #bb44a3;
      }
      &:hover{
        // border: 2px solid #fec900; 
        // background-color: #fec900; 
        border-radius: 26px; 
        padding-top: 9px; 
        padding-bottom: 9px; 
        padding-right: 4px; 
        padding-left: 18px; 
        max-height: 56px; 
        margin-right: 18px;
        transition: 0.1s;

      }
      &:hover &__img{
        display: block;
      }
      &:hover &__my-prod{
        height: unset;
        border: none;
        margin-left: 15px;
        min-width: unset;
      }
      &__img{
        display: none;
        width: 30px;
        height: 14px;
      }
      &__my-prod{
        background-color: white;
        border-radius: 24px;
        padding: 11px 9px;
        // margin-left: 15px;
        // margin-right: 18px;
        display: flex;
        align-items: center;
        height: 46px;
        border: 2px solid #cad7e5;
        min-width: 56px;
        display: flex;
        align-items: center;
        justify-content: center;
        
        &__text{
          background-color: #fff;
          color: #454b57;
          font-family: font-medium;
          font-size: 12px;
        }
      }
    }
  }
}

.category-filters__ul:hover+.category-filters__pop-up{
  display: flex;
}

.how-to-buy__cont__box__animation:nth-child(4n) > .how-to-buy__cont__box__animation__img{
  transform: rotate(160deg);
}